<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCC URL Shortener</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <h1>API Project: URL Shortener Microservice</h1>
    <label class="subheadline">Short URL Creation</label>
    <div class="example-block">
        <label>example:</label>
        <p>POST [project_url]/api/shorturl/new - https://www.google.com</p>
    </div>
    <form action="" method="post">
        <div class="input-block">
            <label for="website">URL to be shortened</label>
            <input type="text" name="website" value="https://www.freecodecamp.org">
            <button type="submit">POST URL</button>
        </div>
    </form>
    <label class="subheadline">Example Usage:</label>
    <a id="link-block" href="http://localhost:3000/api/whoami">[this_project_url]/api/shorturl/3</a>
    <label class="subheadline">Will Redirect to:</label>
    <label class="text-label">https://forum.freecodecamp.org/</label>
</body>

</html>